//  RETRO PALLETTE
$caf-noir: rgba(72, 43, 11, 1);
$russet: rgba(113, 57, 22, 1);
$copper: rgba(193, 119, 56, 1);
$earth-yellow: rgba(219, 171, 110, 1);
$peach: rgba(254, 205, 165, 1);
$cambridge-blue: rgba(124, 165, 151, 1);
$paynes-gray: rgba(67, 106, 121, 1);
$charcoal: rgba(59, 70, 81, 1);
$jet: rgba(42, 43, 38, 1);


//  ALYRAK PALLETTE
$night: rgba(18, 18, 18, 1);
$eerie-black: rgba(37, 34, 32, 1);
$persian-red: rgba(182, 76, 57, 1);
$black-olive: rgba(52, 61, 56, 1);
$jasper: rgba(195, 74, 54, 1);
$lynx-white: #f5f6fa;
