@import '../../styles/settings.scss';

.about__container {
  padding-top: 15rem;
  padding-bottom: 15rem;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40rem;
  background-color: $night;
}

.about__image {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  filter: brightness(0.9) saturate(0.7);
  z-index: 2;

.about__image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.1;
  filter: invert(1);
  z-index: 2;
}

  .about__table {
    position: absolute;
    bottom: -10%;
    height: 55%;
    z-index: 1;
    opacity: 1;
  }

  .about__monitor {
    max-height: 60vh;
    z-index: 4;
    margin-bottom: 10rem;
    box-shadow: 0 100px 100px rgba(0, 0, 0, 1);
  }

  .about__screen__off {
    position: absolute;
    top: 5%;
    max-height: 55%;
    z-index: 3;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    &.off {
      opacity: 0;
    }
  }

  .about__screen__on {
    position: absolute;
    top: 5%;
    max-height: 55%;
    z-index: 2;
    opacity: 1;
  }

  .about__screen__info {
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.off {
      opacity: 1;
    }

    p {
      font-size: 2rem;
      font-family: $font-retro-text;
      color: $cambridge-blue;
    }

    .about__screen__square {
      margin-top: 0.14rem;
      background-color: $cambridge-blue;
      width: 0.8rem;
      height: 1.3rem;
      animation: blink 1s linear infinite;
    }

    @keyframes blink {
      0%{opacity: 0;}
      50%{opacity: .5;}
      100%{opacity: 1;}
    }
  }
}

.about__info__container {
  margin-top: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10%;

  img {
    width: 200%;
    position: absolute;
    transform: rotate(90deg);
    bottom: 1rem;
    left: -17rem;
    z-index: 1;
    opacity: 0.9;
  }
}

.about__info__header {
  position: relative;

  p {
    transform: rotate(270deg);
    font-size: 30rem;
    color: $jasper;
    line-height: 0;
    margin: 0 -10rem;
  }
}

.about__info__text {
  background-color: $dark-slate-gray-2;
  border-radius: 20rem;
  border: 1px solid $jasper;
  text-align: start;
  display: flex;
  min-width: 100%;
  position: relative;

  p {
    border-radius: 20rem;
    max-width: 50%;
    padding: 10%;
    font-size: 2.5rem;
    line-height: 2.7rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-family: $font-text;
  }

  img {
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 0.5;
    filter: invert(0.1);
  }

  &.left {
    justify-content: end;
  }
}

@media (max-width: 540px) {

  .about__container {
    padding-top: 10rem;
    gap: 23rem;
  }

  .about__info {
    width: 100%;
  }

  .about__image {
    .about__table {
      height: 55%;
    }

    .about__monitor {
      max-height: 40vh;
      margin-bottom: 5rem;
    }

    .about__screen__off {
      top: 5%;
      max-height: 55%;
    }

    .about__screen__on {
      top: 5%;
      max-height: 50%;
    }

    .about__screen__info {
      p {
        font-size: 1rem;
      }

      .about__screen__square {
        margin-top: 0rem;
        width: 0.4rem;
        height: 0.7rem;
      }
    }
  }

  .about__info__container {
    margin-top: 72rem;
    padding: 0 1%;

    img {
      width: 10000%;
      position: absolute;
      transform: rotate(90deg);
      bottom: 7.5rem;
      left: -15rem;
      z-index: 1;
    }
  }

  .about__info__header {
    p {
      font-size: 20rem;
      z-index: 1;
      margin: 0 -20rem;
      letter-spacing: 1rem;
      opacity: 0.9;
    }
  }

  .about__info__text {
    background-color: $dark-slate-gray-2;
    border-radius: 12rem;
    border: 1px solid $jasper;
    text-align: start;
    display: flex;
    min-width: 100%;
    z-index: 1;
    padding: 10%;

    p {
      border-radius: 12rem;
      max-width: 60%;
      padding: 12%;
      font-size: 1.1rem;
      line-height: 1.1rem;
      letter-spacing: 0.1rem;
      font-weight: 100;
      font-family: $font-text;
      text-shadow: 0 0 1px black;
      opacity: 0.9;
    }

    &.left {
      justify-content: end;
      opacity: 0;
      min-width: 90%;
    }
  }
}
