@import '../../styles/settings.scss';

#about-second {
  z-index: 6;
}

.about__second__wrapper {
  display: flex;
  min-height: 0;
  position: relative;
}

.about__second__overlay {
  position: absolute;
  filter: invert(1);
  opacity: 0.1;

  img {
    max-height: 60vh;
  }
}

.about__second__info {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  padding: 5%;

  p {
    font-family: $font-text;
    color: $jasper;
    font-weight: 100;
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

.about__second__qr {
  padding: 0.1rem;
  background-color: $tan;
  width: 26%;
  opacity: 0.9;
  position: relative;

  img {
    width: 100%;
    z-index: 1;
  }

  img:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 1;
    filter: invert(1);
  }
}

.about__second__image {
  position: relative;
  border-top-left-radius: 25rem;
  border-bottom-left-radius: 25rem;
  max-height: 60vh;
  width: 100%;
  flex: 2;

  img {
    aspect-ratio: 16/10;
    border-top-left-radius: 25rem;
    border-bottom-left-radius: 25rem;
    position: absolute;
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    filter: brightness(0.9);
  }

  img:last-of-type {
    opacity: 0.4;
    filter: invert(1);
  }
}

@media (max-width: 540px) {
  .about__second__wrapper {
    flex-direction: column;
    min-height: 50vh;
  }

  .about__second__info {
    gap: 3rem;
    margin-bottom: -4rem;

    p {
      text-align: center;
      font-size: 1.3rem;
      line-height: 1.5rem;
      filter: brightness(1.2);
      text-shadow: 1px 1px 1px black;
    }
  }


.about__second__image {
  img:last-of-type {
    opacity: 0.3;
  }
}
}